

@{
	ViewBag.Title = "access denied";
}


<style>
    
</style>
<link href="/css/Access_denied.css" rel="stylesheet" />

<center>
<div class="w3-display-middle" style="margin-top: 10%">
    <h1 class="w3-jumbo w3-center"><code style="color:red">Access Denied</code></h1>
        <h3 class="w3-center" style="color:red">You dont have permission to view this site.</h3>
    <h3 class="w3-center">🚫🚫🚫🚫</h3>
    <br />
    <h6 class="w3-center"><a class="btn btn-danger " asp-controller="Home" asp-action="Index"> Go Home  </a></h6>
    
</div>
</center>



