@model Gestion_de_films.ViewModel.RegisterViewModel
@{
	ViewBag.Title = "SignUp";
}


<link href="/css/loginsignup.css" rel="stylesheet" />
<style>
    form {
        height: 570px;
        width: 400px;
    }
    h3{
        margin-top:-10%;
    }
</style>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form method="post">
    
    <h3>Sign up Here</h3>
    <div asp-validation-summary="All" style="color:red;"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" required/>

    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" required />
    </div>
    <button type="submit">Sign up</button>

</form>


